@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1d061a;
  font-family: "Poppins", sans-serif;
  margin: 0; /* Reset browser's default margins */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://wallpapercave.com/wp/wp4770064.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.container {
  padding: 20px;
  width: 90%; /* Make the container more fluid */
  max-width: 450px; /* Limit maximum width for larger screens */
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; /* Include padding in width calculation */
}

.container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.password-box {
  height: 50px;
  width: 90%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: scroll;
}

.container .password-box h3 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  z-index: 1;
  width: 100%;
}

.container .password-box .copy-btn {
  position: absolute;
  right: 15px;
  color: grey;
  font-size: 27px;
  cursor: pointer;
  z-index: 999;
}

.container .password-box:hover {
  background: rgba(255, 255, 255, 0.2);
}

.container .password-box:before,
.container .password-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  border-radius: 15px;
  transform: skewX(15deg);
  transition: 0.5s;
  overflow-y: hidden;
}

.container .password-box:hover:before,
.container .password-box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .password-box .copy-btn span {
  position: absolute;
  font-size: 19px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  margin-right: 10px;
}

.container .password-box span::before,
.container .password-box span::after {
  background: rgba(255, 255, 255, 0.893);
}

.container .password-box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transition: 0.5s;
  color: #fff;
}

.container .password-box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container .password-box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .password-box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
  overflow-wrap: normal;
}

.container .password-box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .password-box .content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.container .checkboxes-box {
  padding: 1px;
  margin-top: 15px;
}

.container .checkboxes-box .lowercase {
  pointer-events: none;
}

.container .checkboxes-box div {
  height: 35px;
  width: 100%;
  padding-left: 35px;
  display: flex;
  align-items: center;
}

.container .checkboxes-box div span {
  padding-left: 20px;
  font-size: larger;
  color: #ffffff;
  font-weight: 500;
}

.container .checkboxes-box div input {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container .checkboxes-box div input::before {
  content: "\f00c";
  position: absolute;
  font-family: FontAwesome;
  color: white;
  font-size: 15px;
  display: none;
}

.container .checkboxes-box div input:checked {
  background: #7bdaf3;
  border-color: #7bdaf3;
}

.container .checkboxes-box div input:checked::before {
  display: block;
}

.container .password-length {
  padding: 2px;
  padding-left: 35px;
}

.container .password-length h3 {
  font-size: 20px;
  color: rgb(231, 231, 231);
  font-weight: 500;
  margin-top: 12px;
}

.container .password-length input {
  -webkit-appearance: none;
  height: 3px;
  width: 70%;
  background: lightgrey;
  position: relative;
  top: -3px;
  cursor: pointer;
  border-radius: 3px;
}

.container .password-length input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  background: #7bdaf3;
  cursor: pointer;
}

.container .password-length .length-value {
  height: 30px;
  width: 55px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid grey;
  position: absolute;
  right: 55px;
  margin-top: -25px;
}

.container .generate-btn {
  all: unset;
  height: 50px;
  width: 260px;
  background: #16a085;
  color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.container .copy-btn span {
  position: absolute;
  font-size: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  margin-left: -8px;
}

::selection {
  background: rgb(100, 149, 237, 0.8);
  color: white;
}
